<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Peabuddy</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='main.css') }}">
</head>
<body>
<div class="header" style="padding: 60px; text-align: center; color: white; background-color: #8dc386; font-size: 20px;">
    <h1 style="color: white; font-family: 'Century Gothic'">Peabuddy</h1>
    <p style="font-family: 'Century Gothic'">Das nützliche Pflanzenverwaltungstool</p>
</div>
<h1 style="color: brown;">Test</h1>

</body>
</html>